@use '../mixin/mixin' as *;
@use '../setting/setting' as *;


footer { 
      background-color: $backGroundColor;
      }
.c-footer-logo {
  width: 222px;
  @include sp {
    width: 124px;
   margin: 194px auto 0;
  }
  & > img {
    width: 100%;

  }
}
.c-footer-nav {
  padding: 0 100px;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
    // text-align: center;
    @include sp {
      display: none;
    }
}
.c-footer-nav-ttl {
  & > a {
    text-align: center;
    display: block;
    padding: 10px;
    border-bottom: 1px solid transparent;
    transition: all 0.5s;
  }
  & > a:hover {
    border-bottom: 1px solid $mainColor;
  }
}
.c-footer-nav-recipes {
  & > a {
    text-align: center;
    display: block;
    padding: 10px;
    border-bottom: 1px solid transparent;
    transition: all 0.5s;
  }
  & > a:hover {
    border-bottom: 1px solid $mainColor;
  }
  &__cat > a {
    display: block;
    padding: 5px;
    border-bottom: 1px solid transparent;
    transition: all 0.5s;
  }
  &__cat > a:hover {
    border-bottom: 1px solid $mainColor;
  }

}
.c-footer-nav-tech {
  & > a {
    text-align: center;
    display: block;
    padding: 5px;
    border-bottom: 1px solid transparent;
    transition: all 0.5s;
  }
  & > a.title {
    display: block;
    padding: 10px;
    border-bottom: 1px solid transparent;
    transition: all 0.5s;
  }
  & > a:hover {
    border-bottom: 1px solid $mainColor;
  }
}
.footer-nav-health {
  & > a {
    text-align: center;
    display: block;
    padding: 10px;
    border-bottom: 1px solid transparent;
    transition: all 0.5s;
  }
  & > a:hover {
    border-bottom: 1px solid $mainColor;
  }
}

.c-footer-copy {
  margin-top: 60px;
  width: 100%;
  height: 28px;
  background-color: $mainColor;
  text-align: center;
  &__text{
    font-size: 14px;
    font-weight: 250;
    color: #fff;
  }
}