@use '../mixin/mixin' as *;
@use '../setting/setting' as *;

.c-button-s {
  padding: 5px 20px;
  margin: 24px auto;
  font-size: 14px;
  font-weight: 400;
  width: 140px;
  text-align: center;
  background-color: $mainColor;
  color: #fff;
  border-radius: 6px;
  transition: all 0.25s;
  position: relative;

  &>.ico {
    position: absolute;
    right: 8px;
  }

  &:hover {
    opacity: 0.8;
  }
}

.c-button-b {
  cursor: pointer;
  padding: 10px 20px;
  margin: 0 auto;
  font-size: 14px;
  font-weight: 400;
  width: 180px;
  text-align: center;
  background-color: $mainColor2;
  border-radius: 6px;
  transition: all 0.25s;
  position: relative;

  &>.ico {
    position: absolute;
    right: 14px;
  }

  &>a {
    color: #fff;
  }

  &:hover {
    opacity: 0.8;
  }
}

.c-button-a {
  cursor: pointer;
  padding: 15px 30px;
  margin: 0 auto;
  font-size: 16px;
  font-weight: 700;
  width: 280px;
  text-align: center;
  background-color: #fff;
  border: 2px solid $headLineColor;
  border-radius: 5px;
  transition: all 0.25s;
  position: relative;

  &>.ico {
    position: absolute;
    right: 12px;
  }

  &>a {
    color: $headLineColor;
  }

  &:hover {
    background-color: #eee;
    opacity: 0.8;
  }
}

.tech-text {
  font-size: 12px;
  color: #fff;
  font-weight: bold;
  letter-spacing: 0.14;
  letter-spacing: 0.32em;
}

.text {
  font-size: 14px;
  color: $mainColor;
  font-weight: 400;
  letter-spacing: 0.14;
  line-height: 1.5;
}

.text-b {
  font-size: 14px;
  color: $mainColor;
  font-weight: 600;
  letter-spacing: 0.14;
  line-height: 1.5;
}

.text-r {
  font-size: 16px;
  color: $mainColor;
  font-weight: 500;
  letter-spacing: 0.14;
  line-height: 1.5;
}

.title {
  font-size: 16px;
  color: $mainColor;
  font-weight: 600;
  line-height: 1.5;
}

.hint {
  font-size: 24px;
  color: $headLineColor;
  font-weight: 700;
  letter-spacing: 0.14;
  line-height: 1.5;
}

// .label-cat {
//   position: absolute;
//   top: 0;
//   right: 0;
//   width: 120px;
//   text-align: center;
//   border-radius: 0 10px 0 0;

//   &>.knife {
//     background-color: #426511;
//   }

//   &>.pre {
//     background-color: #A85201;
//   }

//   &>.peer {
//     background-color: #8C6600;
//   }
// }

.category-label {
  position: absolute;
  top: 0;
  right: 0;
  width: 120px;
  text-align: center;
  border-radius: 0 10px 0 0;

  &.knife {
    background-color: #426511;
  }

  &.pre {
    background-color: #A85201;
  }

  &.peer {
    background-color: #8C6600;
  }

  &.appetizer {
    background-color: #D85301;
  }

  &.main {
    background-color: #BC2A09;
  }

  &.last {
    background-color: #C29906;
  }
}

.recipes-category-label {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 175px;
  height: 25px;
  text-align: center;
  align-items: center;

  &.appetizer {
    background-color: #D85301;
  }

  &.main {
    background-color: #BC2A09;
  }

  &.last {
    background-color: #C29906;
  }
}

.box {
  width: 50px;
  height: 50px;
  background-color: red;
}

.c-label-a {
  padding: 5px 20px;
  font-size: 12px;
  font-weight: 400;
  position: absolute;
  bottom: 0;
  right: 0;
  color: #fff;
  background-color: $appetizer;
}

.c-label-m {
  padding: 5px 20px;
  font-size: 12px;
  font-weight: 400;
  position: absolute;

  color: #fff;
  background-color: $mainDish;
}

.c-label-l {
  padding: 5px 20px;
  font-size: 12px;
  font-weight: 400;
  position: absolute;
  bottom: 0;
  right: 0;
  color: #fff;
  background-color: $lastDish;
}

.c-recipes-cat {
  min-width: 190px;
  text-align: center;

  & span.title {
    display: inline-block;
    padding: 10px;
    position: relative;

    &::before,
    &::after {
      position: absolute;
      display: block;
      content: "";
      width: 8px;
      height: 2px;
      background-color: $mainColor;
      top: 50%;

    }

    &::before {
      left: -8px;
    }

    &::after {
      right: -8px;
    }
  }

  & a {
    padding: 10px;
    display: block;
    border-bottom: 1px dashed $mainColor;
  }

  &__b {
    margin-top: 60px;
  }
}

.c-recipes-cat {
  margin-left: 30px;
  height: 0;
  position: sticky;
  top: 64px;

  @include sp {
    display: none;
  }
}

.c-cap {
  max-width: 324px;
  text-align: center;
  height: 0;
  position: sticky;
  top: 64px;

  & span {
    display: block;
    padding: 10px;


  }

  @include sp {
    margin: 0 auto;
  }
}


.c-header-ico {
  display: inline-block;

  &.active {
    display: none;
  }

}

.c-scroll-ico {
  display: none;

  &.active {
    display: inline-block;
  }
}

// あさみ↓
// .dot-img {
//   display: flex;
//   align-items: center;
//   justify-content: center;
//   gap: 15px;
//   li {
//     width: 14px;
//     height: 14px;
//     background-color: transparent;
//     border: 2px solid $green;
//     border-radius: 50%;
//     transition: 0.3s;
//     @include sp() {
//       width: 10px;
//       height: 10px;
//     }
//     &.slick-active {
//       background-color: $green;
//     }
//   }
// }