/* -----------------------------------------------
* home Module
* homeページ用
-------------------------------------------------- */
@use '../mixin/mixin' as *;
@use '../setting/setting' as *;



.p_recipes-map {
  display: flex;

  & .ico {
    padding: 10px;
  }

  &>a {
    display: block;
    padding: 10px;
  }
}

.p_recipes {
  max-width: 1200px;
  margin: 0 auto;
  position: relative;

  @include sp {
    max-width: 640px;

  }

  &__headline {
    margin-top: 102px;
    font-size: 64px;
    text-align: center;
    color: $headLineColor;

    @include sp {
      margin-top: 80px;
      font-size: 36px;
    }
  }

  &__rubi {
    font-size: 15px;
    text-align: center;
    color: $headLineColor;

    @include sp {
      font-size: 12px;
    }
  }
}

// .p_recipes-grid1 {
//   display: grid;
//   grid-template-columns: 2fr 1fr;
//   overflow: visible;
//   height: 100vh;
//   position: relative;

//   @include sp {
//     display: block;


//   }
// }

.p_recipes-grid2 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  margin-top: 20px;

  @include sp {
    display: block;

  }
}

// .c-recipes-cat {
//   max-width: 248px;
//   text-align: center;
//   position: sticky;
//   top: 0;

//   & span {
//     display: block;
//     padding: 10px;

//     &::after {
//       content: "";
//       width: 8px;
//       height: 1px;
//       background-color: $mainColor;
//     }
//   }

//   & a {
//     padding: 10px;
//     display: block;
//     border-bottom: 1px dashed $mainColor;
//   }

//   &__b {
//     margin-top: 60px;
//   }

//   @include sp {
//     display: none;
//   }
// }


.p_recipes-menu {
  text-align: center;

  & span {
    display: block;
  }

  & select {
    margin: 0;
    padding: 0;
   border: 1px solid #333;
    border-radius: 10px;
    width: 180px;
    text-align: center;
    background-color: $backGroundColor;
 
  }
}

