/* -----------------------------------------------
* home Module
* homeページ用
-------------------------------------------------- */
@use '../mixin/mixin' as *;
@use '../setting/setting' as *;



.p_detail {
  margin-top: 60px;
  position: relative;
  width: 62%;
  border-bottom: 1px solid $mainColor;
  display: flex;

  &__headline {
    align-items: center;

    font-size: 24px;
    color: $mainColor;
  }

  &>span {
    bottom: 15px;
    right: 16px;
  }
}

.p_detail-img {
  aspect-ratio: 4/3;
  overflow: hidden;
  
  &>img {

    width: 100%;
    height: 100%;
  }
}

.p_recipes-map {
  display: flex;

  & .ico {
    padding: 10px;
  }

  &>a {
    display: block;
    padding: 10px;
  }

  &>p {
    padding: 10px;
  }
}

// .c-recipes-cat {
//   max-width: 248px;
//   text-align: center;

//   & span {
//     display: block;
//     padding: 10px;

//     &::after {
//       content: "";
//       width: 8px;
//       height: 1px;
//       background-color: $mainColor;
//     }
//   }

//   & a {
//     padding: 10px;
//     display: block;
//     border-bottom: 1px dashed $mainColor;
//   }

//   &__b {
//     margin-top: 60px;
//   }
// }

// .p_recipes-grid1 {
//   display: grid;
//   grid-template-columns: 2fr 1fr;
//   overflow: visible;
//   height: auto;

//   @include sp {
//     display: block;

//   }
// }

.p_detail-grid2 {
  display: grid;
  grid-template-columns: 3fr 2fr;
  gap: 20px;
  margin: 20px 48px;

  @include sp {
    display: block;
  }
}

.p_detail-ingredients {
  background-color: #fff;
  border-radius: 10px;

  &>span {
    display: block;
    padding: 10px;
  }

  &__table {

    // &__tr {}


    &__th {
      text-align: left;
      padding: 5px
    }

    // &__td {}
  }
}

.p_detail-how {
  min-height: 330px;

  &__to {
    list-style-type: decimal;
  }

  &__do {
    padding: 10px;
  }
}