/* -----------------------------------------------
* home Module
* homeページ用
-------------------------------------------------- */
@use '../mixin/mixin' as *;
@use '../setting/setting' as *;

body {
  background-color: $backGroundColor;
}

.p_home-mv {
  width: 100%;
  height: 100%;
  position: relative;

  &__img {
    height: 100%;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__ttl {
    font-size: 48px;
    color: $headLineColor;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

  }

  &__subttl {
    font-size: 20px;
    color: $headLineColor;
    position: absolute;
    top: 65%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

.p_home-about {
  margin-top: 40px;
  text-align: center;

  &__text {
    font-weight: 400;
    font-size: 24px;
    color: $mainColor;
    line-height: 3.5;
  }
}

.p_home-about-img {
  // width: 100%;
  position: relative;

  img {
    width: 200px;
    height: 200px;
    transform: rotate(30deg);
    position: absolute;
    top: -64px;
    right: 128px;
  }
}

/*
レシピ一覧
*/
.p_home-recipes {
  max-width: 1200px;

  &__headline {
    margin-top: 120px;
    font-size: 64px;
    text-align: center;
    color: $headLineColor;
  }

  &__rubi {
    font-size: 15px;
    text-align: center;
    color: $headLineColor;
  }

  &__withBeer {
    margin-top: 60px;
    display: inline-block;
    font-size: 24px;
    position: relative;
  }

  &__withHighball {
    margin-top: 60px;
    display: inline-block;
    font-size: 24px;
    position: relative;
  }

  &__withBeer::after {
    content: "";
    width: 100%;
    height: 1px;
    background-color: $mainColor;
    position: absolute;
    top: 50%;
    left: 240px;
  }

  &__withHighball::after {
    content: "";
    width: 100%;
    height: 1px;
    background-color: $mainColor;
    position: absolute;
    top: 50%;
    left: 300px;
  }

  &__button {
    margin-top: 36px;
  }
}

.p_home-recipes-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  margin: 10px 48px;


}

.p_home-recipes-card {
  border: 1px solid $mainColor;
  border-radius: 10px;
  overflow: hidden;

  &__link {
    display: block;
    position: relative;
    transition: all 0.5s;
  }

  &__link:hover {

    opacity: 0.8;
  }

  &__imgs {
    position: relative;
  }

  &__img {
    display: block;
    width: 100%;
    height: auto;
    position: relative;

  }

  &__label-a {
    padding: 5px 20px;
    font-size: 12px;
    font-weight: 400;
    position: absolute;
    top: 131;
    right: 0;
    color: #fff;
    background-color: $appetizer;
  }

  &__label-m {
    padding: 5px 20px;
    font-size: 12px;
    font-weight: 400;
    position: absolute;
    top: 131;
    right: 0;
    color: #fff;
    background-color: $mainDish;
  }

  &__label-l {
    padding: 5px 20px;
    font-size: 12px;
    font-weight: 400;
    position: absolute;
    top: 131;
    right: 0;
    color: #fff;
    background-color: $lastDish;
  }

  &__info {
    padding: 10px;
  }

  &__headline {
    padding: 10px;
    font-size: 16px;
    color: $mainColor2;
  }

  &__description {
    padding: 10px;
    font-size: 14px;
    color: $mainColor2;
  }


}


/*
料理のコツ
*/

.p_home-tips__text {
  font-weight: 400;
  font-size: 20px;
  color: $mainColor;
  line-height: 2.5;
}

.p_home-tips-img {
  position: absolute;
  width: 100%;
  top: 0;
  left: -320px;

  &>img {
    width: 100px;
    height: auto;
    transform: rotate(-15deg);
  }
}

.c-home-tab-nav {
  margin-top: 40px;

  display: grid;
  grid-template-columns: repeat(3, 1fr);
  border-bottom: 1px solid #B2B2B2;

  &__item {
    display: inline-block;
    padding: 10px;
    cursor: pointer;
    font-size: 20px;
    color: $mainColor;
    border-bottom: 2px solid transparent;
    transition: all 0.5s;
  }

  &__item:hover {
    border-bottom: 2px solid $mainColor;
  }
}

/*
休肝日
*/

.p_home-health {
  position: relative;
  &__headline {
   
    margin-top: 120px;
    font-size: 40px;
    text-align: center;
    color: $headLineColor;
  }

  &__text {
    font-weight: 400;
    font-size: 20px;
    color: $mainColor;
    line-height: 2.5;
  }

}
.p_home-health-img {
  position: absolute;
  // width: 100%;
  top: 0;
  right: 10px;

  &>img {
    width: 150px;
    height: auto;
    transform: rotate(15deg);
  }
}

.c-home-health {
  
  margin:60px 0 324px;

  &__img {
    position: relative;
    width: 70%;
    height: 150px;
    margin: 0 auto;
    border-radius: 10px;
    box-shadow: #333 2px 2px 4px;

    & > img {
     
      width: 100%;
      height: 100%;
      object-fit: cover;
    
    }
  }


  &__text1 {
    position: absolute;
    top: 10px;
    left: 32px;
    font-size: 20px;
    font-weight: 500;
    color: $headLineColor;
  }

  &__text2 {
    position: absolute;
    top: 25%;
    left: 23px;
    font-size: 48px;
    color: #fff;
    }

  &__text3 {
    position: absolute;
    top: 45%;
    right: 55px;
    font-size: 24px;
    color: #fff;
  }
}