/* -----------------------------------------------
* home Module
* homeページ用
-------------------------------------------------- */
@use '../mixin/mixin' as *;
@use '../setting/setting' as *;

main {
  background-color: $backGroundColor;
}

.p_home-mv {
  width: 100%;
  height: 100%;
  position: relative;

  &__img {
    height: 100%;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__ttl {
    width: 377px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    &>img {
      width: 100%;
    }
  }

  &__subttl {
    width: 240px;
    position: absolute;
    top: 75%;
    left: 50%;
    transform: translate(-50%, -50%);

    &>img {
      width: 100%;
    }
  }
}

.p_home-about {
  margin-top: 81.9px;
  text-align: center;
  position: relative;

  @include sp {
    margin-top: 79px;
  }

  &__text {
    font-weight: 400;
    font-size: 24px;
    color: $mainColor;
    line-height: 3.5;
    letter-spacing: 0.14em;

    @include sp {
      font-size: 16px;
    }

  }
}

.p_home-about-img {
  // width: 100%;
  position: absolute;
  top: 277px;
  right: 64px;

  img {
    width: 200px;
    height: 200px;
    transform: rotate(30deg);

    @include sp {
      width: 93px;
      height: 90px;
    }
  }
}

/*
レシピ一覧
*/
.p_home-recipes {
  max-width: 1200px;
  margin: 0 auto;

  @include sp {
    max-width: 640px;

  }

  &__headline {
    margin-top: 162px;
    font-size: 64px;
    text-align: center;
    color: $headLineColor;

    @include sp {
      margin-top: 80px;
      font-size: 36px;
    }
  }

  &__rubi {
    font-size: 15px;
    text-align: center;
    color: $headLineColor;

    @include sp {
      font-size: 12px;
    }
  }

  &__with-b, &__with-h {
    display: flex;
    align-items: center;

    &::after {
      content: "";
      height: 1px;
      flex-grow: 1;
      margin-left: 4rem;
      background-color: $mainColor;
    }
  }

  &__with-b {
    margin-top: 60px;
    font-size: 24px;
    color: $mainColor;

    @include sp {
      margin-top: 47px;
      font-size: 15px;
    }
  }

  &__with-h {
    margin-top: 60px;
    font-size: 24px;
    color: $mainColor;

    @include sp {
      margin-top: 47px;
      font-size: 15px;
    }
  }

  // &__with-b::after {
  //   content: "";
  //   width: 100%;
  //   height: 1px;
  //   background-color: $mainColor;
  //   position: absolute;
  //   top: 50%;
  //   left: 240px;
  // }

  // &__with-h::after {
  //   content: "";
  //   width: 100%;
  //   height: 1px;
  //   background-color: $mainColor;
  //   position: absolute;
  //   top: 50%;
  //   left: 300px;
  // }

  &__button {
    margin-top: 48px;
  }

  &__button.c-button-a {
    margin-top: 64px;

  }

}

.p_home-recipes-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  margin: 20px 38px;

  @include sp {
    display: block;
  }

}
.l-slider01-block__slider {
  @include sp {
    display: block;
  }
}
button.slick-arrow.slick-next {
  display: none;
}

.p_home-recipes-card {
  border: 1px solid $mainColor;
  border-radius: 10px;
  overflow: hidden;

  &__link {
    display: block;

    transition: all 0.5s;
  }

  &__link:hover {

    opacity: 0.8;
  }

  &__img {
    position: relative;
    aspect-ratio: 16/9;
    width: 100%;
    overflow: hidden;
    max-height: 240px;
  }

  &__img>img {
    width: 100%;
    height: 100%;
    object-fit: cover;

  }

  &__label-a {
    padding: 5px 20px;
    font-size: 12px;
    font-weight: 400;
    position: absolute;
    bottom: 0;
    right: 0;
    color: #fff;
    background-color: $appetizer;
  }

  &__label-m {
    padding: 5px 20px;
    font-size: 12px;
    font-weight: 400;
    position: absolute;
    bottom: 0;
    right: 0;
    color: #fff;
    background-color: $mainDish;
  }

  &__label-l {
    padding: 5px 20px;
    font-size: 12px;
    font-weight: 400;
    position: absolute;
    bottom: 0;
    right: 0;
    color: #fff;
    background-color: $lastDish;
  }

  &__info {
    padding: 10px;
    background-color: #fff;
  }

  &__headline {
    padding: 10px;
    font-size: 16px;
    color: $mainColor2;
  }

  &__description {
    padding: 10px;
    font-size: 14px;
    color: $mainColor2;
    letter-spacing: 0.14em;
  }
@include sp {
display: block;
margin-top: 20px;
}
 &__button {
  position: relative;
  &+.ico {
    position: absolute;
    
  }
 }

}


/*
料理のコツ
*/
.p_home-tech {
  margin-top: 81.9px;
  text-align: center;
  position: relative;

  @include sp {
    margin-top: 18px;
  }
  
    &__headline {
      margin-top: 162px;
      font-size: 64px;
      text-align: center;
      color: $headLineColor;
  
      @include sp {
        margin-top: 161px;
        font-size: 36px;
      }
    }
   }



.p_home-tips__text {
  font-weight: 400;
  font-size: 20px;
  color: $mainColor;
  line-height: 2.5;
  letter-spacing: 0.14em;

  @include sp {
    font-size: 16px;
  }
}

.p_home-tips-img {
  position: absolute;
  width: 100%;
  top: 0;
  left: -320px;

  @include sp {
    top: -229px;
    left: -213px;
  }

  &>img {
    width: 100px;
    height: auto;
    transform: rotate(-15deg);
  }
}

.p_home-tab-nav {
  margin-top: 40px;

  display: grid;
  grid-template-columns: repeat(3, 1fr);
  border-bottom: 1px solid #B2B2B2;

  &__item {
    display: inline-block;
    padding: 10px;
    cursor: pointer;
    font-size: 20px;
    color: $mainColor;
    border-bottom: 2px solid transparent;
    transition: all 0.25s;
  }

  &__item.is-active {
    border-bottom: 2px solid $mainColor;
  }

  &__item:hover {
    border-bottom: 2px solid $mainColor;
  }
}

.p_home-tab-contents {

  &__item {
    display: none;
  }
}

.p_home-tab-contents__content {
  margin: 44px auto 0;
  max-width: 744px;
  height: 66px;
  background-color: #fff;
  text-align: left;
  align-items: center;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 2px 2px 6px #ccc;
  position: relative;

  & .label-cat {
    position: absolute;
    top: 0;
    right: 0;

  }

  & span {
    position: absolute;
    top: 0;
    right: 36px;
  }

}

.p_home-tech__button {
  margin-top: 70px;
}

/*
休肝日
*/

.p_home-health {
  position: relative;
  

  &__headline {

    margin-top: 120px;
    font-size: 40px;
    text-align: center;
    color: $headLineColor;

    @include sp {
      font-size: 36px;
    }
  }

  &__description {
    margin-top: 81.9px;
    text-align: center;
    position: relative;

    @include sp {
      margin-top: 16px;
    }
  }

  &__text {
    font-weight: 400;
    font-size: 20px;
    color: $mainColor;
    line-height: 2.5;
    letter-spacing: 0.14em;
  }

}

.p_home-health-img {
  position: absolute;
  // width: 100%;
  top: 0;
  right: 46px;

  &>img {
    width: 150px;
    height: auto;
    transform: rotate(15deg);
    @include sp {
      width: 81px;
    }
  }
}

.p_home-health-banner {
  margin-top: 64px;

  &__img {
    width: 70%;
    height: auto;
    margin: 0 auto;


    &>img {
      border-radius: 10px;
      width: 100%;
      height: 100%;
      object-fit: cover;
      overflow: hidden;
      box-shadow: #333 2px 2px 4px;
      transition: all 0.5s;

      &:hover {
        opacity: 0.8;
      }
    }

  }
}