/* -----------------------------------------------
* home Module
* homeページ用
-------------------------------------------------- */
@use '../mixin/mixin' as *;
@use '../setting/setting' as *;

.p_recipes-mv {
  width: 100%;
  height: 100%;
  position: relative;

  &__img {
    height: 100%;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__ttl {
   font-size: 40px;
   color: #fff;
    position: absolute;
    top: 32%;
    left: 10%;

  }
}

.p_recipes-map {
  display: flex;

  & .ico {
    padding: 10px;
  }

  &>a {
    display: block;
    padding: 10px;
  }
}

.p_recipes {
  
  margin: 0 auto;

  @include sp {
    max-width: 640px;

  }

  &__headline {
    margin-top: 102px;
    font-size: 64px;
    text-align: center;
    color: $headLineColor;

    @include sp {
      margin-top: 80px;
      font-size: 36px;
    }
  }

  &__rubi {
    font-size: 15px;
    text-align: center;
    color: $headLineColor;

    @include sp {
      font-size: 12px;
    }
  }
}
.p_recipes-grid1 {
  display: flex;
  
  overflow: visible;
  
  position: relative;
  @include sp {
    display: block;
    margin: 0 auto;
  
    
  }
}
.p_recipes-grid2 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  margin-top: 20px;
  width: 80%;

  @include sp {
    display: block;
   
  }
}

